@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: "open sauce one", Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #fff;
}

/*font SIZE inicio*/
.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.h1 {
    font-size: 50px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 25px;
}

.h4 {
    font-size: 20px;
}

.t1 {
    font-size: 18px;
    font-weight: 400;
}

.t2 {
    font-size: 16px;
    font-weight: 500;
}

.t3 {
    font-size: 14px;
    font-weight: 400;
}

.h-2-logo {
    font-size: 28px;
    margin-bottom: 0;
}

.h-3-logo {
    font-size: 18px;
    margin-bottom: 0;
}
/*font SIZE Final*/

/* ICONS inicio */
.bg-icons {
    height: 25px;
    width: 25px;
}

.md-icons {
    height: 20px;
    width: 20px;
}

.sm-icons {
    height: 15px;
    width: 15px;
}
/* ICONS final */

/*Index Style Inicio*/
.row {
    margin: 0;
}

.logo {
    width: 70px;
    height: 70px;
}

.left-line {
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    padding: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-start {
    color: #342e37;
    background-color: transparent;
    border-color: none;
    border-radius: 8px;
    position: relative;
    text-align: center;
    transform: translateY(-58%);
    font-size: 14px;
    margin-top: 1px;
    border-color: rgba(52, 46, 55, 0.7);
    transition: all 0.3s ease;
}

.btn-start:hover {
    background-color: #342e37;
    color: #fff;

}
.index-header {
    color: #342e37;
    display: flex;
    align-items: center;
}

.space {
    padding-top: 1.5%;
    padding-left: 5%;
}

.login-container {
    box-sizing: border-box;
    padding: 45px 30px;
    position: relative;
    top: 15%;
    width: 100%;
    max-width: 60%;
    /*box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;*/
    /*box-shadow: rgba(17, 17, 26, 0.25) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;*/ /*71*/
    box-shadow: rgb(38, 57, 77, 0.5) 0px 1px 13px -3px;
    border-radius: 10px;
    font-weight: 500;
    color: #342e37;
}

.or-index {
    text-align: center;
    opacity: 0.6;
    font-weight: 500;
    padding-left: 3%;
    padding-right: 3%;
}

.form-control-index {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.5;
}

.right-side {
    color: #342e37;
    font-size: 14px;
    box-sizing: border-box;
    padding: 30px 30px;
    position: relative;
    bottom: -45vh;
    left: 20%;
    width: 100%;
    max-width: 65%;
    border-radius: 10px;
}

.right-half {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.or-hr {
    width: 45%;
    margin-top: 3%;
    ;
    opacity: 0.1;
}

hr {
    color: #000;
    opacity: 0.6;
    border-radius: 1px;
}

hr:not([size]) {
    height: 2px;
}

.three-dots {
    transform: rotate(90deg);
    height: 50px;
    width: 20px;
    padding-left: 10px;
    margin-left: 16px;
}
/*Index Style Final*/
.logo-container {
    z-index: 6;
    float: left;
    position: fixed;
    padding-left: 20px;
    padding-top: 10px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    padding-right: 15px;
    z-index: 10;
}

.header-menu {
    position: fixed;
    width: 100%;
    padding-right: 15px;
    z-index: -1;
}

.server-select {
    width: 100%;
    float: left;
    border: thin;
    border-style: solid;
    padding: 3px 35px 3px 10px;
    max-width: fit-content;
}

.top-icons {
    height: 18px;
    width: 18px;
    float: right;
}

.display-menu {
    border: none;
    background: transparent;
    opacity: 0.3;
    padding-right: 10px;
}

.textMenu {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.Underline {
    text-underline-position: below;
    cursor: pointer;
}

@media screen and (min-width: 1800px) {

    .right-side {
        margin-top: 14vw;
    }
}



.sidebar {
    position: relative;
    height: 400px;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #D6D6D6;
    background: #fff;
    z-index: 100;
    transition: all 0.5s ease;
    max-width: 250px;
    min-width: auto;
    overflow: auto;
    overflow-x: !important hidden;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.projects-container {
    max-height: 300px;
    box-sizing: border-box;
    margin-bottom: 45px;
}

.projectName {
    padding-left: 12px;
}

.new-project-btn {
    left: 62.5%;
    background-color: #fff;
    border-radius: 10px;
    border: thin;
    border-style: solid;
    border-color: #000;
    font-size: 14px;
}

.hide-edit-icon {
    opacity: 0;
    transition: all 0.4s ease;
    background-color: transparent;
    border-color: transparent;
}

.projectName:hover .hide-edit-icon {
    opacity: 0.3;
}

.hide-delete-icon {
    opacity: 0;
    transition: all 0.3s ease;
}

.hide-test:hover .hide-delete-icon {
    opacity: 0.9
}

.Menu {
    padding: 10px 0px;
}

.bars-icon {
    border: transparent;
}

.elements-icons {
    float: right;
    border: none;
    background: transparent;
    opacity: 0.3;
}

.comments-container {
    position: fixed;
    border-color: #D6D6D6;
    border-radius: 11px;
    border-style: solid;
    border-width: 2px;
    margin-left: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

textarea {
    text-align: center;
    border-radius: 11px;
    padding: 10px;
    height: 20em;
    outline: none;
    color: #342e37;
    resize: none;
    width: 200px;
}

.hide {
    opacity: 0;
    transition: all 0.4s ease;
}

    .hide:hover, .hide-test:hover {
        opacity: 1;
    }

.Elements {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    justify-content: space-between;
    column-gap: 10px;
}


.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;
}


.nav-bar-icons {
    display: flex;
    justify-content: space-evenly;
}


.sidebar .nav-links {
    height: auto;
    padding: 0 0 0 0 0;
    overflow: auto;
    z-index: 2;
}

MudIconButton {
    background-color: black;
}

.myDiv {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

    .myDiv:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 1);
    }
/*Edits de la scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: .1px solid #B7B7B7;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #909090;
    }



/*SECCION del BOOTSTRAP*/
.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.dark-mode .page-loading {
    background-color: #0b0f19;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active > .page-loading-inner {
    opacity: 1;
}

.page-loading-inner > span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #9397ad;
}

.dark-mode .page-loading-inner > span {
    color: #fff;
    opacity: .6;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #b4b7c9;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.dark-mode .page-spinner {
    border-color: rgba(255,255,255,.4);
    border-right-color: transparent;
}

@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.carousel {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}

.carousel-inner {
    font-size: 27px;
    text-align: start;
    color: #342e37;
    font-weight: 500;
    opacity: 0.9;
    left: 10%;
}

.carousel-item {
    transition: transform 2.3s ease-in, transform 3s ease-out;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 2;
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: 41%;
    margin: 0;
    text-align: left;
    justify-content: space-around;
    left: 22%;
    width: 120px;
}

.carousel-indicators [data-bs-target] {
    background-color: #342e37;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

#b-1:active {
    color: red;
}
.ce-block__content, .ce-toolbar__content {
    max-width: 100%;
}

input:focus-visible{
    outline:none;
}