@page "/"
@using System.ComponentModel.DataAnnotations;
@using rMakev2.ViewModel;
@using rMakev2.Services;
@inject RmakeViewModel vm;
@inject NavigationManager NavigationManager
@inject IToastService toastService

<div class="row" style="width: 100vw">
    <div class="col-lg-6 vh-100 space" style="width: 55vw">
        <div class="index-header">
            <img class="logo" src="/svgs/LOGO RADICAL.svg" />
            <div class="left-line">
                <h2 class="h-2-logo">rMake!</h2>
                <h3 class="h-3-logo">By radical companies.</h3>
            </div>
        </div>

        <div class="login-container">
            <p>Start a new journey here</p>
            <br />
            <a href="App" class="btn btn-start btn-lg">Start from scratch</a>
            <br />
            <div class="d-flex justify-content-center align-content-center">
                <hr class="or-hr" />
                <p class="or-index">or</p>
                <hr class="or-hr" />
            </div>
            <br />
            <p>Use an existing token</p>
            <br />
            <input Id="token" @bind="tokenstring" @onkeydown="Enter" class="form-control-index small" placeholder="example: 24256aG-A90n56D3-a722" autofocus />
            <br />
            <a Class="btn btn-start btn-lg" @onclick="navigate" @onkeydown="Enter">Load</a>
        </div>

    </div>

    <div class="col-lg-6 vh-100 pr-5 right-half" style="width: 45vw">
        <div class="right-side">
            <img src="svgs/3 dots.svg" class="three-dots" />
            <p>
                Arise! Arise, riders of Theoden!
                Spears shall be shaken, shields shall be splintered!
                A sword-day, a red day... ere the Sun rises!
                Ride now! Ride now! Ride! Ride to ruin... and the world's ending!
                Death! Death! DEATH! FORTH EORLINGAS!
            </p>
            <p>"In the darkest times, hope is something you give yourself. That is the meaning of inner strength." - Iroh</p>
            <hr />
        </div>
        @*<div>
            @foreach (var oraciones in vm.ListaOraciones)
            {
                <p>@vm.ListaOraciones.First().Question</p>
                <Icon Name="IconName.Circle" Style="@vm.ListaOraciones.First().Color"></Icon>

            }
        </div>*@
        <Icon Name="IconName.Circle" Style="color: #2CAAE2"></Icon>
    </div>
</div>



@code {

    string tokenstring;
    string url;


    protected override Task OnInitializedAsync()
    {

        tokenstring = "";
        url = "/App/" + tokenstring;

        return base.OnInitializedAsync();
    }

    void navigate()
    {
        if (tokenstring != "")
            NavigationManager.NavigateTo("/App/" + tokenstring);

    }

    public void Enter(KeyboardEventArgs e)
    {
        if (tokenstring != "" && (e.Code == "Enter" || e.Code == "NumpadEnter"))
            NavigationManager.NavigateTo("/App/" + tokenstring);
    }
}