@page "/"
@using System.ComponentModel.DataAnnotations;
@using rMakev2.ViewModel;
@using rMakev2.Services;
@inject NavigationManager NavigationManager
@inject IToastService toastService

<div class="row" style="width: 100vw">
    <div class="col-lg-6 vh-100 space">
        <div class="index-header">
            <h2 class="h-2-logo">rMake!</h2>
            <h3 class="h-3-logo">By radical companies.</h3>
        </div>

        <div class="login-container">
            <p>Start a new journey here</p>
            <br />
            <a href="App" class="btn btn-start btn-lg">Start from scratch</a>
            <br />
            <p class="or-index">or</p>
            <br />
            <p>Use an existing token</p>
            <br />
            <input Id="token" @bind="tokenstring" @onkeydown="Enter" class="form-control-index small" placeholder="example: 24256aG-A90n56D3-a722" autofocus />
            <br />
            <a Class="btn btn-start btn-lg" @onclick="navigate" @onkeydown="Enter">Load</a>
        </div>

    </div>

    <div class="col-lg-6 vh-100 pr-5" style="background-color:#DAE4F2">
    </div>
</div>



@code {

    string tokenstring;
    string url;


    protected override Task OnInitializedAsync()
    {

        tokenstring = "";
        url = "/App/" + tokenstring;

        return base.OnInitializedAsync();
    }

    void navigate()
    {
        if (tokenstring != "")
            NavigationManager.NavigateTo("/App/" + tokenstring);

    }

    public void Enter(KeyboardEventArgs e)
    {
        if (tokenstring != "" && (e.Code == "Enter" || e.Code == "NumpadEnter"))
            NavigationManager.NavigateTo("/App/" + tokenstring);
    }
}