@page "/"
@using rMakev2.ViewModel;
@using rMakev2.Services;
@inject IToastService toastService


<div class="container">
    <div class="row">
        <div class="col-12 vh-100 p-5">
            <h1>Welcome to rMake</h1>
            <h3>By radical companies.</h3>
            <a href="App" class="btn btn-light btn-lg">Enter App</a>


        </div>
    </div>
</div>

