@page "/"
@using rMakev2.ViewModel;
@using rMakev2.Services;
@inject NavigationManager NavigationManager
@inject IToastService toastService



<div class="row">
    <div class="col-lg-6 vh-100 p-5">
        <h1>rMake!</h1>
        <h5>By radical companies.</h5>

        <h3 style="top: 30%">Start creating <strong><em>something new</em></strong></h3>
        <a href="App" class="btn btn-start btn-lg" style="top: 30%;">Start from scratch</a>

    </div>

    <div class="col-lg-6 vh-100 p-5" style="background-color:#DAE4F2">
        <div class="right-side">
            <h3 style="margin-left: 0px">If you already have content, <strong><em>use your token</em></strong></h3>
            <input Id="token" @bind="tokenstring" class="form-control-index small" style=" font-size:20px; border-radius: 8px" placeholder="example: 24256aG-A90n56D3-a722" autofocus />
            <br />
            <Button Class="btn btn-load btn-lg" @onclick="navigate">Load</Button>
        </div>
    </div>
</div>



@code {

    string tokenstring;
    string url;


    protected override Task OnInitializedAsync()
    {

        tokenstring = "";
        url = "/App/" + tokenstring;

        return base.OnInitializedAsync();
    }

    void navigate()
    {
        if (tokenstring != "")
            NavigationManager.NavigateTo("/App/" + tokenstring);

    }
}