@inherits LayoutComponentBase
@using rMakev2.Components
<PageTitle>rMakev2</PageTitle>

<div class="page">  
    <BlazoredToasts Timeout="7"
                    ShowProgressBar="true" />
   

    @Body       
   
</div>
